WebDevTest/ODT.DataAccessTests/Service References/OAService/OAService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OAService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:36151/OAService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:36151/OAService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:36151/OAService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOAService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IOAService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IOAService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IOAService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IOAService_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="IOAService_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IOAService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IOAService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IOAService_GetSubCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubCategories" />
  </wsdl:message>
  <wsdl:message name="IOAService_GetSubCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IOAService_GetProductsbySubCategoryId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsbySubCategoryId" />
  </wsdl:message>
  <wsdl:message name="IOAService_GetProductsbySubCategoryId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsbySubCategoryIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IOAService">
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IOAService/GetProducts" message="tns:IOAService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOAService/GetProductsResponse" message="tns:IOAService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IOAService/GetProduct" message="tns:IOAService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOAService/GetProductResponse" message="tns:IOAService_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IOAService/UpdateProduct" message="tns:IOAService_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOAService/UpdateProductResponse" message="tns:IOAService_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IOAService/GetCategories" message="tns:IOAService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOAService/GetCategoriesResponse" message="tns:IOAService_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IOAService/GetSubCategories" message="tns:IOAService_GetSubCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOAService/GetSubCategoriesResponse" message="tns:IOAService_GetSubCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsbySubCategoryId">
      <wsdl:input wsaw:Action="http://tempuri.org/IOAService/GetProductsbySubCategoryId" message="tns:IOAService_GetProductsbySubCategoryId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOAService/GetProductsbySubCategoryIdResponse" message="tns:IOAService_GetProductsbySubCategoryId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOAService" type="tns:IOAService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IOAService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/IOAService/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/IOAService/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IOAService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubCategories">
      <soap:operation soapAction="http://tempuri.org/IOAService/GetSubCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsbySubCategoryId">
      <soap:operation soapAction="http://tempuri.org/IOAService/GetProductsbySubCategoryId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OAService">
    <wsdl:port name="BasicHttpBinding_IOAService" binding="tns:BasicHttpBinding_IOAService">
      <soap:address location="http://localhost:36151/OAService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>